.flex-box {
    display: flex;
}

.flex-box.second {
    width: 300px;
    margin-top: 50px;
}


.flex-item {
    background-color: #6495EC;
    width: 70px;
    height: 50px;
    border: 2px solid #eeeff0;
}

.flex-item.grow {
    flex-grow: 1;
}

.flex-item.grow-double {
    flex-grow: 2;
}


